<p id="notice"><%= notice %></p>

<p>
  <strong>Namefunc:</strong>
  <%= @funcao_transacional.nameFunc %>
</p>

<p>
  <strong>Typefunc:</strong>
  <%= @funcao_transacional.typeFunc %>
</p>

<p>
  <strong>Param1:</strong>
  <%= @funcao_transacional.param1 %>
</p>

<p>
  <strong>Param2:</strong>
  <%= @funcao_transacional.param2 %>
</p>

<p>
  <strong>Complexity:</strong>
  <%= @funcao_transacional.complexity %>
</p>

<p>
  <strong>Qntdpf:</strong>
  <%= @funcao_transacional.qntdPF %>
</p>

<p>
  <strong>Namecounter:</strong>
  <%= @funcao_transacional.nameCounter %>
</p>

<p>
  <strong>Registry:</strong>
  <%= @funcao_transacional.registry %>
</p>

<%= link_to 'Edit', edit_funcao_transacional_path(@funcao_transacional) %> |
<%= link_to 'Back', funcao_transacionals_path %>
